@media only screen and (min-width:576px) {
    .form-container {
        
        display: grid;
        justify-content: center;
        align-items: center;
        place-items: center;
     
        
    }



}