table,th,td{
    
    border: 1px solid black !important;
}

th,td{
    text-align: center !important;
}

th,td{
    padding: 8px;
}

.ok{
    text-align: left !important;
} 
    
/* .no_order{
    position: relative;
    bottom: 53px;
}
 */

.Cancelled_order{
    color: red;
}

.pending_order{
    color: yellowgreen;
}